{namespace medialib=Tx_Supersized_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<![CDATA[
	jQuery(function($){
		$.supersized({
			]]>
			<f:if condition="{library} === 'core'">
				start_slide : {configuration.start_slide},
				new_window : {configuration.new_window},
				image_protect : {configuration.image_protect},
				min_width : {configuration.min_width},
				min_height : {configuration.min_height},
				vertical_center : {configuration.vertical_center},
				horizontal_center : {configuration.horizontal_center},
				fit_always : {configuration.fit_always},
				fit_portrait : {configuration.fit_portrait},
				fit_landscape : {configuration.fit_landscape},
			</f:if>
			<f:if condition="{library} === 'slideshow'">
				start_slide : {configuration.start_slide},
				new_window : {configuration.new_window},
				image_protect : {configuration.image_protect},
				min_width : {configuration.min_width},
				min_height : {configuration.min_height},
				vertical_center : {configuration.vertical_center},
				horizontal_center : {configuration.horizontal_center},
				fit_always : {configuration.fit_always},
				fit_portrait : {configuration.fit_portrait},
				fit_landscape : {configuration.fit_landscape},
			</f:if>
			slides : [
			<f:for each="{backgroundImages}" as="image">
				<![CDATA[
				{image : ']]><medialib:image width="{settings.image.maxWidth}" height="{settings.image.maxHeight}" src="{image.resource}" /><![CDATA[', title : ']]>{image.title}<![CDATA['},
				]]>
			</f:for>
			]
		});
	});
</f:section>